@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<h1>Well done!</h1>

<div style="text-align:center">
    <p>I hope you feel good about yourself.</p>
    <p>You managed to fill in questions.</p>
    <p>Good for you!</p>

    <a href="/" class="btn btn-primary">Go back and redo the test</a>
</div>





