/*
            These styles are admin specific, but this also uses the styles from the questionair template.

            Normally my "admin" and "website" template would use two different style sheets. And I would use something like bootstrap of Tailwindcss.

        */
html, body {
    height: 100%
}


#leftNavigation {
    height: 100%;
    background: #e21e2a
}

.navigationQuestion {
    width: 100%;
    margin-top: 20px;
    margin-left: 7px
}

.studentAnswers {
    width: 100%;
    margin-bottom: 40px
}

    .studentAnswers td, .studentAnswers th {
        padding: 10px 20px;
    }

    .studentAnswers th {
        background: #000;
        color: #fff
    }

    .studentAnswers td {
        background: #EBEBEB
    }

#mainContent {
    height: 100%;
    overflow: scroll
}

.navbar-nav {
    color: #FFF;
    padding: 10px 20px;
    list-style: none;
    display: flex;
    float: right
}

    .navbar-nav a {
        padding-right: 20px;
        text-decoration: none;
        color: #FFF;
    }
